
h5 {
      margin:3px ;
}


.fixer {
      margin:5px;
      padding: 1px;
      vertical-align:top ;
}
      

.light {
      color:#555;
      text-align: center;
      font-family: Arial, sans-serif;
      background-color: white;
      transition: background-color 0.5s, color 0.5s;

}

.dark {
      color:#555;
      text-align: center;
      font-family: Arial, sans-serif;
      background-color: #00050d;
      transition: background-color 0.5s, color 0.5s;
}






#theme {

margin:calc(1.5%) ;
margin-bottom:0 ;
margin-top:2px ;
background-color: transparent;
color:#595959;
font-size:calc(100%);
outline: none;
width:calc(15.7%) ;
border:0.5px solid #FC6C85;
 border-radius: 5px;
 padding: calc(1.5%) ;
 border-style: solid;
 border-color:#005ba6;
 border-top-right-radius:17px ;
 border-bottom-left-radius:17px ;
 text-align: center ;
        
}

#theme:active{
transform: scale(0.9);
}
.hymn-buttons {
    margin-top: 0; 
    margin-left:calc(4%) ;
    position: relative; 
    height: calc(100vh - 190px);
    overflow-y: scroll; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}



button { 
    width: 100%;
    margin: 0;
    padding-bottom:3px ;
    padding-top:3px ;
    font-size:calc(100%) ;
    border:none ;
    background-color:transparent ;
    color:#595959 ;
    text-align:left ;
}
button:active {
     color:#b3b3b3 ; 
}

.info {
      width:8% ;
      font-weight:bold ;
      font-size:20px ;
      margin:0 ;
      padding:0 ;
      
      
}

    .bk-ttl {
            width:80% ;
            margin-right:12px ;
            margin-left:1px ;
            margin-bottom:5px ;
            background-color: transparent;
            padding: 10px;
            transition: background 0.5s;
            text-align: center ;
            color:#595959 ;
            font-size:20px;
            font-weight:bold ;
}


.search-type {
      height:calc(6.9%);
      width: calc(50%) ;
      border-color:#002b54 ;
      border-top-right-radius: 17px ;
      border-bottom-left-radius: 17px ;
      border-style: solid ;
      margin-bottom:0 ;
      margin-top:2px ;
      margin:calc(1.5%);
      font-size:calc(100%) ;
      padding:calc(1.5%) ;
      background-color:transparent ;
      color: #595959 ;
}

.search-ico {
      padding: calc(1.5%) ;
      background-color:transparent ;
      font-size: calc(100%);
      width:calc(14%) ;
      border-width:0.5px ;
      border-color:#005ba6;
      border-style: solid ;
      border-bottom-left-radius: 17px ;
      border-top-right-radius: 17px;
      text-align: center ;
      margin:calc(1.5%) ;
      margin-bottom: 0;
      margin-top:2px ;
}
.search-ico:active {
      transform: scale(0.9) ;
}

.lyrics {
    margin-top:0;
    font-size:calc(100%);
    white-space: pre-line;
    padding: calc(6.2%);
    border: none ;
    border-radius: 4px;
    background-color: transparent;
    user-select: text;
    color:#595959 ;
    text-align:left ;
}
   #lyrics { 
    margin-top: 0;
    position: relative; 
    overflow-y: scroll; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column; 
    height: 100%;
}
.hlyrics {
    margin-top: 0; 
    padding:20px ;
    position: relative; 
    overflow-y: scroll; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size:18px ;
    text-align:left ;
}

  
  .title {
        background-color: transparent ;
        width: calc(74%) ;
        border-color:red ;
        height:calc(14.5%) ;
        font-size:calc(100%) ;
        color:#595959;
        vertical-align: top ;       
        font-weight:bold ;    
        text-align: center; 
        padding-right:calc(3.1%) ;
        padding-left:calc(3.1%) ;
        margin-top:calc(0.6%) ;
        margin-bottom:calc(0.6%) ;
        margin-left:calc(1.5%) ;
        border:none ;
        border-top-right-radius:10px ;
        border-bottom-left-radius:10px ;
        
  }
    
.back {
      width:calc(20%) ;
      height:40px;
      padding-left:calc(1.8%) ;
      font-weight:bold ;
      font-size:calc(100%) ;
      background-color:transparent ;
      color:#595959 ;
      border-top-right-radius: 10px ;
      border-bottom-left-radius: 10px;
      border-style: solid ;
      border-color: #005ba6;
      border-width:0.5px;
      margin:calc(0.6%) ;
      vertical-align:top ;
      
      
}
.footer {
    padding:8px ;
    padding-left:0;
    bottom: 0;
    width: 100%;
    margin:0;
    margin-bottom:5px ;
    position:fixed ;
    text-align:center ;
}
.lycfixer {
    vertical-align:top ;
    width: 100%;
    position:fixed ;
    margin-top:5px ;
}
.htext {
    margin-top: 0; 
    
    position: relative; 
    height: calc(100vh - 100px);
    overflow-y: scroll; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}






